<turbo-stream action="replace" target="dashboard">
    <template>
        <div class="col-12 mt-5">
            <h3 style="color:white">Modifier les paramètres des projets</h3>

            {{ form_start(form, {
                'action': path('app_settings_projects'),
                'attr': {'data-turbo': 'true'}
            }) }}
            {{ form_label(form.projectDisplay) }}
            {{ form_widget(form.projectDisplay) }}
            {{ form_label(form.projectPerRow) }}
            {{ form_widget(form.projectPerRow) }}
            {{ form_end(form) }}
        </div>
    </template>
</turbo-stream>