{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage">
    <div id="header">
        {% include "_partials/_light_nav.html.twig" %}

        <div id="home" class="container-fluid hero-section" style="position: relative; height: 100vh; overflow: hidden;">
            {% set ext = headerMedia.name|split('.')|last|lower %}

            {% if ext in ['jpg', 'jpeg', 'png', 'gif'] %}
                <div style="
                        background-image: url('{{ asset('upload/header/' ~ headerMedia) }}');
                        background-size: cover; background-position: center;
                        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                        z-index: -1;">
                </div>
            {% elseif ext in ['mp4', 'webm'] %}
                <video autoplay loop muted playsinline style="
            width: 100%; height: 100%; object-fit: cover;
            position: absolute; top: 0; left: 0;
            z-index: -1;">
                    <source src="{{ asset('upload/header/' ~ headerMedia.name) }}" type="video/{{ ext }}">
                    Votre navigateur ne supporte pas la vidéo.
                </video>
            {% else %}
                <p>Format non supporté</p>
            {% endif %}



                <div class="text-center row">
                    <h1 style="" class="header-title text-white col-12 breathing">Camille SABY</h1>
                    <h4 class="header-subtitle text-white col-12 breathing">▲ Sound Designer // Technical SD ▼</h4>

                    <div class="col-12 breathing">
                        <a href="{{ path('app_home_venture') }}" class="btn btn-outline-dark glitch-btn text-white mx-5" data-text="Show reel">Projects</a>
                        <a href="#work" class="btn btn-outline-dark glitch-btn text-white mx-5" data-text="Technical demo">Work</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="section-divider"></div>
        <div style="min-height: 100vh" id="work" class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h2 class="text-center breathing">ShowReel 2024</h2>
                </div>
                <div class="col-12 col-md-6 mx-auto">
                    <video class="w-100" controls>
                        <source src="{{ asset('upload/showreel/' ~ showreel.name) }}" type="video/{{ ext }}">
                        This video seems unsupported by your browser
                    </video>
                </div>
                <div class="col-12 mt-5 mb-5">
                    <h3 class="text-center breathing">Selected Work</h3>
                </div>


                {% set total = projectDisplay %}
                {% set perRow = projectPerRow %}

                {% for i in 1..total %}
                    {% if (i - 1) % perRow == 0 %}
                        <div class="row mb-4">
                    {% endif %}

                    <div class="col">
                        <div class="card">
                            <div class="card-body bg-dark">
                                {% if projects[i] is not null %}
                                    <video class="w-100" controls>
                                        <source src="{{ asset('upload/project' ~ i ~ '/' ~ projects[i].name) }}" type="video/{{ ext }}">
                                        This video seems unsupported by your browser
                                    </video>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if i % perRow == 0 or i == total %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div class="section-divider"></div>

        <div id="about" class="container-fluid p-4 text-dark  bio-section" style="">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 mx-auto" style="max-width: 350px;">
                            <img class="img-fluid mx-auto rounded-circle"
                                 src="{{ asset('upload/bio/' ~ bioImage.name) }}"
                                 alt="Photo de profil"
                                 style="width: 100%; aspect-ratio: 1/1; object-fit: cover;">
                        </div>

                        <div class="col-md-6 my-auto">
                            <h5>Camille Saby</h5>
                            <p>{{ bioText|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-divider"></div>

        <div style="margin-bottom: 35vh" class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-5 text-center">
                    <h3 class="breathing">CONTACT ME</h3>
                    {% for contact in bioContacts %}
                        <p>{{ contact.text }}</p>
                     {% endfor %}
                    <a class="mailto" style="color:#ff252b ;text-decoration: none" href="mailto:{{ bioMail }}">{{ bioMail }}</a>
                </div>
                <div class="col-12 text-center social-links">
                    {% for social in bioSocials %}
                        {% if social.network %}
                        <a href="{{ social.link }}"><i class=" bi bi-{{ social.network}} fs-2"></i></a>
                        {% else %}
                        <a href="{{ social.link }}"><i class=" bi bi-globe fs-2"></i></a>
                        {% endif %}
                    {% endfor %}
{#                    <i class=" bi bi-github fs-2"></i>#}
{#                    <i class=" bi bi-linkedin fs-2"></i>#}
{#                    <i class=" bi bi-instagram fs-2"></i>#}
{#                    <i class=" bi bi-facebook fs-2"></i>#}
{#                    <i class=" bi bi-twitter fs-2"></i>#}
{#                    <i class=" bi bi-whatsapp fs-2"></i>#}
{#                    <i class=" bi bi-discord fs-2"></i>#}
{#                    <i class=" bi bi-youtube fs-2"></i>#}
{#                    <i class=" bi bi-twitch fs-2"></i>#}
{#                    <i class=" bi bi-pinterest fs-2"></i>#}
{#                    <i class=" bi bi-spotify fs-2"></i>#}
{#                    <i class=" bi bi-snapchat fs-2"></i>#}
                </div>
            </div>
        </div>
<div class="empty-10"></div>
    </div>
{% endblock %}
