<turbo-stream action="replace" target="dashboard">
    <template>
        <div class="col-12 mt-5">
            <h3 style="color:white">Modify socials network</h3>

            {{ form_start(form, {
                'action': path('app_settings_bio_socials'),
                'attr': {'data-turbo': 'true'}
            }) }}

            <ul id="contact-list"
                data-index="{{ form.socials|length > 0 ? form.socials|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.socials.vars.prototype)|e('html_attr') }}"
            >


                {% set i = 0 %}

                {% for social in form.socials %}
                <div class="contact-item" id="contacts_collection_contacts_{{ i }}">

                    <li class="mb-3">
                        {{ form_row(social.network) }}
                        <div class="d-none">
                            {{ form_row(social.customNetwork) }}
                        </div>
                        {{ form_row(social.link) }}
                        {{ form_row(social.position) }}
                    </li>
                    {% set i = i + 1 %}
                </div>
                {% endfor %}
            </ul>

            <button type="button" id="add-contact" class="btn btn-secondary mt-2">+ Add a social network</button>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            {{ form_end(form) }}

            <script>
                const contactList = document.getElementById('contact-list');
                const addBtn = document.getElementById('add-contact');
                let index = parseInt(contactList.dataset.index, 10);

                addBtn.addEventListener('click', () => {
                    const prototype = contactList.dataset.prototype;
                    const newForm = prototype.replace(/__name__/g, index);
                    const li = document.createElement('li');
                    li.classList.add('mb-3');
                    li.innerHTML = newForm;
                    contactList.appendChild(li);
                    index++;
                    contactList.dataset.index = index;
                });
            </script>
        </div>
    </template>
</turbo-stream>
