{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .card {
            border-color: #efca08 !important; /* Couleur de la bordure lors du survol */

        }

        .card-img-top {
            width: 100%;
            height: 10vw;
            object-fit: cover;
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center breathing">/ Dashboard /</h1>
                <a href="{{ path('app_home') }}" class="btn btn-outline-dark glitch-btn text-white mx-2"
                   data-text="Technical demo">Back</a>
            </div>
        </div>
        <div class="row mt-5" id="dashboard">
            <div class="col-3">
                <div class="card bg-dark">
                    <h5 class="card-title text-center">HEADER</h5>
                    <img src="https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <a href="{{ path('app_settings_media', {'spot': 'header'}) }}" class="btn btn-primary" data-turbo="onClick">Modifier le media</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card bg-dark">
                    <h5 class="card-title text-center">WORK</h5>
                    <img src="https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <a href="{{ path('app_settings_media', {'spot': 'showreel'})}}" class="btn btn-primary" data-turbo="onClick">Modifier le showReel</a>
                        <a href="{{ path('app_settings_projects_media')}}" class="btn btn-primary" data-turbo="onClick">Modifier les projets</a>
                        <a href="{{ path('app_settings_projects')}}" class="btn btn-primary" data-turbo="onClick">Parametrer l'affichage</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card bg-dark">
                    <h5 class="card-title text-center">BIO</h5>
                    <img src="https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <a href="{{ path('app_settings_media', {'spot': 'bio'}) }}" class="btn btn-primary" data-turbo="onClick">Modifier la photo</a>
                        <a href="{{ path('app_settings_bio_text') }}" class="btn btn-primary">Modifier la bio</a>
                        <a href="{{ path('app_settings_bio_contacts') }}" class="btn btn-primary">Modifier les contacts</a>
                        <a href="{{ path('app_settings_bio_mail') }}" class="btn btn-primary">Modifier le mail</a>
                        <a href="{{ path('app_settings_bio_socials') }}" class="btn btn-primary">Modifier les réseaux sociaux</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card bg-dark">
                    <h5 class="card-title text-center">ABOUT</h5>
                    <img src="https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <a href="{{ path('app_settings_about_display') }}" class="btn btn-primary" data-turbo="onClick">Modifier l'affichage</a>
                        <a href="{{ path('app_settings_about_text') }}" class="btn btn-primary" data-turbo="onClick">Modifier le texte</a>
                        <a href="{{ path('app_settings_about_medias') }}" class="btn btn-primary" data-turbo="onClick">Modifier les médias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
